html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: sans-serif;
}
body {
	font-family: 'Poppins';
	background-color: #F4F7FD;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 0px auto;
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 
		"sb hd"
		"sb ct"
		"sb rb";
	margin: 0;
}
a{
	text-decoration-line: none;
	color: inherit;
	padding: 0px;
}

.header {
	grid-area: hd;
	padding: 20px 80px 0px 40px;
}
.side-bar {
	grid-area: sb;
}
.right-bar {
	grid-area: rb;
}
.content {
	grid-area: ct;
	min-height: 600px;
	padding: 5px 40px 20px 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.subtext{
	font-size: 15px;
	color: #8F92A1;
	margin: 0px;
	z-index: 2;
}
.text{
	margin: 20px 0 0 0;
	text-align:justify;
}
.title-content{
	font-weight: 600;
	font-size: 35px;
	line-height: 52px;
	letter-spacing: -0.03em;
	color: #272835;
	margin: 0px;
	z-index: 2;
}
/*-----------Sidebar-----------*/
#side_bar_container{
	position: sticky;
	top: 0;
}
#sidebar{
	background-color:#1920EF;
	border-radius:20px; 
	padding:25px 0px 0px 0px;
	margin: 12px 0px 12px 8px; 
	height: 96vh; 
	color: #cccccc;
}
#logo{
	margin: 10% 0 25% 10%;
	max-width:50%;
}
.sidebar-button{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 2vh 0px 2vh;
	font-weight: bold;
	font-size: 14px;
	transition: 0.5s;
	width: 100%;
	border-radius: 4px;
}
.sidebar-button:hover {
	transform: scale(1.06);
}
#sidebar-button-sel{
	background-color: #303CFE;
	color: #ffffff;
}

.sidebar-button-icon{
	padding: 0px;
	position: relative;
	width: 40px;
	height: 20px;
	display:inline-block
}
.sidebar-button-text{
	display:inline-block;
	margin: 0px;
	padding: 0px;
	width: 65%;
	font-size: 0px;
}
.sidebar-button:hover{
	background-color: #303CFE;
	color: #ffffff;
}
.sidebar-img{
	position: absolute;
	width: 95%;
	bottom: 0;
	left: 8px;
}

/*---PisoSelector--*/
#piso-selector{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	padding: 10px 0 10px 0;
	background-color: #e0e5ed;
	border-radius: 20px;
	text-align: center;
	color: #1920EF;
	font-weight: bold;
	font-size: 13px;
}
.piso-select{
	border-radius: 20px;
	padding: 5px 30% 5px 30%;
	margin-left: 10px;
	margin-right: 10px;
	white-space: nowrap;
	transition: 0.5s;
}
#piso-selected{
	background-color: #1920EF;
	color: #ffffff;	
	transform: scale(1.05);
}
.piso-select:hover{
	transform: scale(1.03);
	background-color: #979FF5;
	color: #ffffff;
}
.piso-col{
	padding: 0;
}

/*---Grupo Selector--*/
.grp-sel-cont {
	display: flex;
	justify-content: space-around;
	margin-bottom: 40px;
}
.grupo-sel {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	border: 1px solid #172bef;
	transition: 0.3s;
}
.grupo-sel:hover {
	transform: scale(1.05);
}
.grp-selected {
	background-color: #172bef;
	color: white;
}

/*---Calendario--*/
#calendario{
	margin: 1vh 0 1vh 0;
	padding: 0;
}

/*-----------RightBar-----------*/
.no-padding{
	padding: 0px;
}
.no-margin{
	margin: 0px;
}

.right_bar_container{
	position: sticky;
	top: 0;
}

#rightbar{
	background-color: #ffffff;
	box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 90%;
	height: 100vh;
}

.right-jumbo{
	border-radius: 20px;
	background-color: #F4F7FD;
	text-align: center;
	margin: 2vh 0 12px 0;
	height: 30vh;
	width: 100%;
}

.center-jumbo{
	display: flex;
	align-items: center;
	justify-content: center;
}

.noti-video{
	width: 90%;
	height: auto;
	border-radius: 20px;
}

/*-----------source ITEMS-----------*/
.div-src {
		display: flex;
		color: #000;
		align-items: center;
		margin-bottom: 10px;
		margin-top: 10px;
		transition: 0.3s;
}
.div-src:hover{
	transform: scale(1.02);
	color: #1920EF;
}

/*-----------CSS-grid-Zonas-Comunes-----------*/
.grid-zc {
	display: grid;
	grid-auto-flow: dense;
	grid-auto-rows: 150px;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
	grid-gap: 1rem;
}
 
.element-zc {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	transition: 0.3s;
}
.element-zc:hover {
	transform: scale(1.02);
}
.element-zc:active {
	background-color: #ddd;
}

.two-ver-zc {
	grid-row: span 2;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0;
}
.two-hor-zc {
	grid-column: span 2;
}

@media screen and (max-width: 768px) {
	.two-ver-zc {
		grid-row: span 1;
		align-items: flex-start;
		text-align: start;
		padding-left: 20px;
	}
	.two-hor-zc {
		grid-column: span 1;
	}
}

.img-zc {
	height: 50%;
	margin: 0px 0px -5px 10px;
}
.title-zc {
	font-size: 1.5rem;
	font-weight: 700;
	color: #172BEF;
}
.desc-zc {
	font-size: 0.7rem;
	font-weight: 400;
	margin-top: -5px;
}


.back-button {
	width: 20px;
	height: 20px;
	transition: 0.3s;
}

.back-button:hover {
	transform: scale(1.05);
	opacity: 0.7;
}

/*---Jumbo--*/
.jumbo{
	margin: 30px 0 0 0;
	border-radius: 20px;
	background-color: #FFC024;
	position: relative;
}
.jumbo-principal {
	background-color: #1920EF;
}
.text-jumbo{
	padding: 75px 0 20px 20px;
}
.text-jumbo .title-content{
	color:#000000;
}
.text-jumbo .subtext{
	color:#393939;
}
.jumbo-principal .title-content{
	font-weight: 600;
	margin-top: -10px;
	color: #fff;
}
.jumbo-principal .subtext{
	color:#FFC024;
	font-size: 22px;
	font-weight: 600;
}
.img-jumbo{
	position: absolute;
	width: 0px;
	bottom: 0;
	right: 0;
	z-index: 1;
	border-radius: 20px;
}


.src-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: auto;
	grid-gap: 20px 40px;
}
.src-element{
	color: blue;
}

/*-----------Responsive-----------*/
@media screen and (min-width: 760px) {
	body {
		grid-template-columns: 50px auto;
	}
	.img-jumbo{
		width: 300px;
	}
	.img-jumbo-principal{
		width: 200px;
		right: 10%;
	}
}

@media screen and (min-width: 1000px) {
	body {
		grid-template-columns: 1fr 4fr 1.4fr;
		grid-template-rows: auto auto;
		grid-template-areas: 
			"sb  hd  rb"
			"sb  ct  rb";
	}
	.sidebar-button-text{
		font-size: .8rem;
	}
}


